    <div class="center">

      <div class="row">
      <h2 class="home-subtitle"> Il negozio online dei servizi </h2>
        <div class="col s12 m4">
         <i class="material-icons medium blue-text ">library_books</i>
          <h5>Scopri contenuti unici</h5>
            <p> Scegli tra formati disponibili il documento che stai cenrcando </p>
      </div>
      <div class="col s12 m4">
          <i class="material-icons medium blue-text">motorcycle</i>
          <h5>Acquista Velocemente</h5>
          <p>Scegli il prodotti che ti interessa e in pochi secondi potrai cominciare ad utilizzarlo</p>
          </div>
        <div class="col s12 m4">
          <i class="material-icons medium blue-text">library_add</i>
          <h5>Vendi i tuoi contenuti</h5>
          <p> Hai servizi che vorresti vendere? Aggiungili alla libreria e inizia a guadagnare</p>
        </div>
      </div>
    </div>
